{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="book_section layout_padding">
        <div class="container d-flex flex-column align-items-center">
            <div class="heading_container">
                <h2>Registrarse</h2>
            </div>
            <div class="row form_proyecto d-flex flex-column align-content-center">
                <div class="col-md-10">
                    <div class="form_container">
                        <form action="" method="post" class="d-flex flex-column justify-content-center">
                            {% csrf_token %} 

                            {{ form }}

                            <button type="submit">Registrate</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}  
